* {
    margin: 0;
}

/* TEKST OPMAAK */

body {
    color: #fff;
    background: #000;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

h1 { 
    color: #fff;
    text-transform: uppercase;

}

.banner {
    text-align: center;
    padding: 40px;
}

/* IMG OPMAAK */

img { 
    max-width: 250px;
    max-height: 350px;
    width: 100%;
    height: 350px;
    margin: 20px;
}
 

/* LAYOUT */

.menu {
    background-color: rgb(255, 166, 0);
    height: auto;
}

nav {
    display: flex;
    justify-content: center;
    padding: 10px;
}

input {
    margin: 0 10px 0 30px;
}

li {
    display: inline;
    margin: 15px;
}

/* SEARCH BAR */

.zoekbalk {
    border-radius: 10px;
    border-style: hidden;
    height: 20px;
    width: 200px;
    position: fixed;
    right:0;
}

/* FOOTER */

footer {
    position: fixed;
    padding: 5px;
    bottom: 0;
    width: 100%;
    font-size: small;
    background-color: rgb(255, 166, 0);
    display: flex;
    justify-content: center;
    color: #000;
}

.hide {
    display: none;
}